:host{
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  .add-button{
    grid-row: 2/3;
    width: 100%;
  }
}
