@use 'sass:map';

$white-0: #ffffff;

$grey-0: #fdfdfd;
$grey-1: #f5f5f5;
$grey-2: #ececec;
$grey-3: #d2d2d2;
$grey-4: #828282;
$grey-6: #646464;
$grey-7: #495057;
$grey-8: #393939;

$green-1: #5ce263;
$green-2: #2e8005;
$green-3: #006633;
$green-4: #14892c;

$blue-0: #e8f7ff;
$blue-1: #c8e1ee;
$blue-2: #688dc3;
$blue-3: #2F4D8E;
$blue-5: #123783;
$blue-6: #092768;
$blue-7: #aec4cf;
$blue-8: #129FEA;

$red-1: #FF9F9B;
$red-2: red;
$red-3: #C20000;

$yellow-0: #FFF8DB;
$yellow-1: #fffabd;
$yellow-2: #f1e87d;
$yellow-3: #e6cf6d;
$yellow-4: #b58105;

$pink-1: #ff548c;

$black: #000000;
