:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border: darkgrey 2px solid;
  border-radius: 10px;

  .description-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h2{
      margin-bottom: 1rem;
    }
  }

  .img {
    height: 200px;
    width: auto;
    justify-content: center;
    max-height: 20vh;
  }

  .action-panel {
    margin-left: auto;
    margin-bottom: auto;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  @media (min-width: 600px) {
    flex-direction: row;
    gap: 5rem;

    .description-container {
      gap: 1rem;

      h2{
        margin-bottom: 2rem;
      }
    }
    .img {
      justify-content: center;
    }
  }
}
