mat-toolbar {
  color: aliceblue;
  background: darkgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 4rem;
  .title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    .img{
      position: relative;
      height: 3rem;
      width: auto;
    }
  }

  @media (min-width: 600px) {
    .title-container{
      .img{
        position: absolute;
        height: 4rem;
        width: auto;
        top: 1rem;
        left: 3rem;
      }
      h1 {
        margin-left: 7rem;
      }
    }
  }
}
